doctype strict
html(xmlns="http://www.w3.org/1999/xhtml",xml:lang="en-US", lang="en-US")
  meta(charset="utf-8")
  meta(name="viewport", content="width=device-width, initial-scale=1")

  head
    title Universal Link Validator
    link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")

  body
    nav.navbar.navbar-default.navbar-static-top
      .container
        .navbar-header
          a.navbar-brand(href="/") Universal Link Validator

    .container
      .well.form-horizontal
        .form-group
          label.col-sm-2.control-label Domain
          .col-sm-3
            input.form-control(id="domain" type="text")
        .form-group
          .col-sm-offset-2.col-sm-1
            button#submit.btn.btn-primary Submit

      #success.hidden.alert.alert-success(role="alert") Congratulations, your setup validates!

      #failure.hidden.alert.alert-danger(role="alert") Uh oh, there are some issues with your setup.

      ul#checklist.list-group.hidden
        li#dns-lookup.list-group-item
          span.glyphicon
          |  Your domain is valid (valid DNS)
        li#https-check.list-group-item
          span.glyphicon
          |  Your file must be served over HTTPS
        li#server-error.list-group-item
          span.glyphicon
          |  Your server shouldn't return an error status code (>= 400)
        li#redirects.list-group-item
          span.glyphicon
          |  Your file cannot be behind redirects

    script(src="//code.jquery.com/jquery-1.11.3.min.js")
    script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
    script(src="/static/js/index.js")
